.box {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 10px;
    align-items: center;

    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

}

.text {
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    margin-bottom: 10px;
}

.input {
    width: 250px;
    border-color: #000;
    padding: 4px 8px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    transition: 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.btn {
    width: 120px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: transparent;

    padding: 2px 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.btn:hover {
    background-color: blanchedalmond;
}