.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.item {
    padding: 15px 15px;
    text-align: center;

    width: 100px;
    margin-right: 20px;
}

.text {
    text-decoration: none;
    width: 100%;
    color: #000;
    font-weight: 500;

    transition: all 300ms ease-in-out;
}

.btn {
    width: 100%;
    padding: 10px;

    border-radius: 4px;
    border: 1px solid #000;

    color: #000;
    background-color: transparent;

    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.btn:hover {
    background-color: blanchedalmond;
}